html {
   /* css variable */
   --primary-color: #1263d2;
   --contrast-primary-text: #fff;
   --background: #e6e9ee;
   --paper: #fff;
   --text: #333;
   --muted-text: #777
}
body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);

}
